* {
    font-family: Cozette;
    color: #e5e9f0;
    font-size: 20px;
  }
  
  window {
    background-color: rgba(3, 6, 32, 0.637);
    border-radius: 10px;
  }
  
  #outer-box {
    margin: 8px;
  }
  
  #input {
    border: none;
    background-color: rgba(3, 6, 32, 0);
    margin: 7px;
    /* Remove blue "border" */
    box-shadow: none; 

  }
  
  #inner-box {
    margin: 7px;
    margin-top: 0;
  }
  
  #entry {
    padding-left: 5px;
    border: none;
    margin-left: -5px;
    margin-right: -5px;
    outline: none;
  }
  
  #entry:selected {
    background-color: rgba(19, 22, 49, 0.582);
  }
  
  #text {
    color: rgb(153, 242, 253);
    margin: 2px;
  }
  
  /* Hide backspace icon */
  .right {
    color: transparent;
  }